body {
    background-color: #d2f8e2; /* Fondo  */
    font-family: 'Arial', sans-serif; 
}

header {
    text-align: center;
    margin-bottom: 2rem;
}
.card {
    margin-bottom: 1rem;
    transition: transform 0.3s;
    border: 1px solid #dbe91e; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.card-body {
    padding: 1rem;
}

.card-title {
    color: #f35b9a; /* Color verde oscuro para el nombre */
    font-size: 1.25rem;
}

.card-text {
    color: #161616; /* Color verde más oscuro para el texto */
}

/* Estilo para la imagen del encabezado */
.header-img {
    width: 500px; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 1rem; /* Espacio debajo de la imagen */
    border-radius: 10px; /* Bordes redondeados opcional */
}

#pokemonDescription {
    background-color: #f0f8ff; /* Color de fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */

}

#pokemonDescription h5 {
    color: #ff5722; /* Color para el nombre del Pokémon */
    font-size: 1.5rem; 
    text-transform: capitalize; 
}

#pokemonDescription p {
    color: #333; /* Color de texto para la descripción */
    font-size: 1rem; 
    margin: 0.5rem 0; 
}

/* Estilo para tipos de Pokémon */
#pokemonDescription .types {
    color: #ff7043; /* Color para los tipos */
    font-weight: bold;
}
